{% extends "base.html" %}
{% block title %} Adam Goldberg - People I am not{% endblock %}
{% block content %}
<div class="hero-unit">
  <h2>An actor</h2>
  <a href="http://imdb.com/name/nm0004965"><h4>who starred in Zodiac, Saving Private Ryan, and Hebrew Hammer</h4></a>
  <h2>A football player</h2>
  <a href="http://en.wikipedia.org/wiki/Adam_Goldberg_(American_football)"><h4>currently on the St. Louis Rams</h4></a>
  <h2>A television producer and writer</h2>
  <a href="http://en.wikipedia.org/wiki/Adam_F._Goldberg"><h4>who created <emoh>The Goldbergs</emph></h4></a>
  <h2>A Huffington Post Contributor</h2>
  <a href="http://huffingtonpost.com/adam-goldberg"><h4>who frequently writes about technology</h4></a>
</div>
{% endblock %}
